{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div id="carousel-container" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-container" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-container" data-slide-to="1"></li>
        <li data-target="#carousel-container" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../../{{shoes[5].image_file}}" alt="...">
          <div class="carousel-caption">
            {{shoes[5].name}} <br>
            {{shoes[5].price}}
          </div>
        </div>
        <div class="item">
          <img src="../../images/Shoe_Blue_2.png" alt="...">
          <div class="carousel-caption">
            Slingback Pumps <br>
            $129.99
          </div>
        </div>
        <div class="item">
          <img src="../../images/Shoe_Red.png" alt="...">
          <div class="carousel-caption">
            Trainers <br>
            $79.99
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-container" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-container" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- new arrivals text for (3 products in a row) -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">New Arrivals</h2><br>
        </div>
      </div>
      <!-- (3 products in a row) images + captions -->
      <div class="row">
          <div class="col-md-4">
            <img class="center-block" src="../../images/Shoe_Red_2.png">
            <h4 class="text-center">Cap-Toe Oxfords</h4>
            <p class="text-center">$99.99</p>
          </div>
          <div class="col-md-4">
            <img class="center-block" src="../../images/Shoe_Blue.png">
            <h4 class="text-center">Slingback Pumps</h4>
            <p class="text-center">$129.99</p>
          </div>
          <div class="col-md-4">
            <img class="center-block" src="../../images/Shoes.png">
            <h4 class="text-center">Trainers</h4>
            <p class="text-center">$79.99</p>
          </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <div class="thumbnail center well well-sm text-center">
              <h2>Sign up Today!</h2>
                  <p>Subscribe to our weekly Newsletter and stay tuned to our new product announcements. Be the first to hear about upcoming live events.  Read about the latest spring fashions and global trends in the world of outdoor and casual footwear. </p>
                   <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                          <input type="text" class="form-control" placeholder="your@email.com">
                          <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Sign up</button>
                      </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
