{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="wrapper">
    <form class="form-signin" method='post' formaction='/login'>
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <input class="btn btn-lg btn-primary btn-block" type="submit">Login</input>
    </form>
  </div>

{% endblock %}
