{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<!-- Beginning of products page -->
      <!-- need to add classes in order to filter shoes -->
      <header>
        <h1>Products</h1>
        <div class="col-md-3">
          <h4>Shoe Size:</h4>
          <h4>Shoe Color:</h4>
        </div>
        <div class="col-md-3">
          <!-- options small/red -->
          <h4><span class="option-small">Small</span></h4>
          <h4><span class="option-red">Red</span></h4>
        </div>
        <div class="col-md-3">
          <!-- options medium/blue -->
          <h4><span class="option-medium">Medium</span></h4>
          <h4><span class="option-blue">Blue</span></h4>
        </div>
        <div class="col-md-3">
          <!-- options large/black -->
          <h4><span class="option-large">Large</span></h4>
          <h4><span class="option-black">Black</span></h4>
        </div>
      </header>
      <section>
        {% for shoe in shoes %}
        <div class="col-xs-3">
            <p>{{ shoe.name }}</p>
            <img src= '../../{{ shoe.image_file }}' class="products">
            <p>Price: {{ shoe.price }}</p>
            <p>Color: {{ shoe.color }}, Gender: {{ shoe.gender }}</p>
        </div>
      {% endfor %}
      </section>
      <!-- End of products page -->
    </div>

{% endblock %}
